body {
    background-color: #e6d9d9;
    color: #000000;
}

.imgIndex{
    height: 500px;
    width: 100%;
    object-fit: cover;     
    background-color: #000;
}

.colorNavbar{
    background: #FF9100;
    color: #00712D;
}
.seccionAgregar{
border: 2px solid #000; 
  border-radius: 8px;     
  padding: 20px;          
  margin: 20px auto;      
  width: 50%;         
}

.contenedorAgregarProducto {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

#nuevaTareaInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    font-size: 1em;
}

button {
    background-color: #00712D;
    padding: 15px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#listaProductos {
    list-style: none; 
    padding: 0;
    width: 450px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#listaProductos li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
}

#listaProductos li:last-child {
    border-bottom: none;
}

#listaProductos li button.eliminar {
    background-color: #f44336; 
    padding: 5px 10px;
    font-size: 0.8em;
}

#listaProductos li button.eliminar:hover {
    background-color: #da190b;
}
/* ---------------------- */

.resultado-productos {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

